<div class="container" *ngIf="!showCountdown && !showVideo">
  <h1 class="title">¿Están listos para saber qué soy?</h1>
  <img src="assets/img/cigueña.png" class="decorative-image" alt="Imagen decorativa" />
  <button class="action-button" (click)="startCountdown()">¡Descúbrelo!</button>
</div>

<div class="countdown-container" *ngIf="showCountdown">
  <div *ngFor="let number of countdownNumbers; let i = index" 
       class="countdown-number" 
       [ngClass]="{ 'active': i === currentCountdownIndex }">
    {{ number }}
  </div>
</div>


<div class="video-container" *ngIf="showVideo">
  <div class="dynamic-images">
    <img src="assets/img/bebe1.jpeg" class="floating-image image1" alt="Floating Image 1" />
    <img src="assets/img/bebe2.jpeg" class="floating-image image2" alt="Floating Image 2" />
    <img src="assets/img/bebe3.jpeg" class="floating-image image3" alt="Floating Image 3" />
    <img src="assets/img/bebe1.jpeg" class="floating-image image4" alt="Floating Image 1" />
    <img src="assets/img/bebe2.jpeg" class="floating-image image5" alt="Floating Image 2" />
    <img src="assets/img/bebe3.jpeg" class="floating-image image6" alt="Floating Image 3" />
  </div>
  <video controls autoplay class="video-player">
    <source src="assets/music/La Luz de Nuestro Amor.mp4" type="video/mp4" />
    Tu navegador no soporta el video.
  </video>
</div>
